<meta charset="utf-8">
<meta name="author" content="www.fkdn-lab.com - Setrino ©2014">
<meta name="description" content="Real Estate">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="all">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title>Real Estate</title>
<!-- Styles -->
<link rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
<!-- Icon -->
<link rel=icon href=favicon.png sizes="16x16" type="image/png">
<link rel=icon href=windows.ico sizes="32x32 48x48" type="image/vnd.microsoft.icon">
<link rel=icon href=mac.icns sizes="128x128 512x512 8192x8192 32768x32768">
<link rel=icon href=iphone.png sizes="57x57" type="image/png">
<link rel=icon href=gnome.svg sizes="any" type="image/svg+xml">
<!-- Google analytics -->
<!-- Dublin Core -->
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
<meta name="DC.title" content="Real Estate">
<meta name="DC.identifier" content="">
<meta name="DC.description" content="">
<meta name="DC.subject" content="">
<meta name="DC.language" scheme="ISO639-1" content="en">
<meta name="DC.creator" content="www.oscarribes.ch">
<meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Collection">
<meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Image">
<meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/InteractiveResource">
<meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Service">
<meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Text">
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
<meta name="DCTERMS.created" scheme="ISO8601" content="2014-04-1">

<link rel="stylesheet" href="css/meanmenu.min.css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">